<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{STATIC_URL}}static/index.css">
    <title>Attendence Compiler</title>
</head>
<body>
    <div class="head">
        <h1>Attendence Compiler</h1>
    </div>
    <div class="num">
        <form method="POST" action="\">
            {%csrf_token%}
            <input type="number" placeholder="Number of Files" name="num" id="numfield">
            <input type="submit" id="numsub" value="Next">
        </form>
    </div>
</body>
</html>